[project]
	description = Cross-Application Persistence Service
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Travis Tomsu (ttomsu)
[access "refs/for/refs/*"]
	read = group user/Travis Tomsu (ttomsu)
	push = group user/Travis Tomsu (ttomsu)
	label-Code-Review = -2..+2 group user/Travis Tomsu (ttomsu)
	label-Verified = -1..+1 group user/Travis Tomsu (ttomsu)
	rebase = group user/Travis Tomsu (ttomsu)
	removeReviewer = group user/Travis Tomsu (ttomsu)
	submit = group user/Travis Tomsu (ttomsu)
[access "refs/heads/*"]
	read = group user/Travis Tomsu (ttomsu)
	create = group user/Travis Tomsu (ttomsu)
	push = +force group user/Travis Tomsu (ttomsu)
	pushMerge = group user/Travis Tomsu (ttomsu)
[access "refs/tags/*"]
	push = +force group user/Travis Tomsu (ttomsu)
	pushTag = group user/Travis Tomsu (ttomsu)
	pushSignedTag = group user/Travis Tomsu (ttomsu)
